.cabecalhoPrincipal .container{
    display: flex;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;

}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction:  column;
    flex-wrap: wrap;
    height: 260px;
}

@media (max-width: 425px){
    .cabecalhoPrincipal-nav{
        flex-direction: column;
        width: 100%;
    }

    .cabecalhoPrincipal-nav a{
        text-align: center;
    }

    .rodapePrincipal-navMap-list{
        flex-wrap: nowrap;
        height: auto;       
    }

    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: center;
    }
}